%section  
  padding: 5rem $space-between

%align-center
  display: flex
  flex-direction: column
  align-items: center

%in
  width: 90%
  max-width: 1700px
  margin: 0 auto
  padding: 0 1.5rem

/*%container
  width: 90%
  max-width: 1700px
  margin: 0 auto
  padding: 0 1.5rem*/

%section-underline
  padding-bottom: 0
  &:after
    @extend %in
    content: ''
    @extend %align-center
    padding: 0 1.5rem    
    margin-top: 5rem
    height: 1px
    background-color: #e0e0e0

%title
  display: flex
  flex-direction: column
  align-items: center
  font-size: 64px
  text-transform: uppercase
  line-height: 110%
  letter-spacing: 5px
  margin-bottom: 40px
  font-weight: 200  
  &:after
    content: ''
    background-color: $color-light-blue
    width: 100px
    height: 5px
    margin-top: 35px

%description
  width: 65%
  margin-bottom: 2rem
  text-align: center
  line-height: 2.5rem
  font-weight: 300
  font-size: 1.7rem

%btn
  display: inline-flex
  align-items: center
  border-radius: 2px
  height: 36px
  line-height: 36px
  padding: 0 2rem
  text-transform: uppercase

%box-shadow
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)

%box-shadow_hover
  transition: all .3s ease-out
  &:hover
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15)
  
%line
  height: 1px
  background-color: #e0e0e0
  transition: background-color .3s ease