.prices
  @extend %section

.prices__in
  @extend %in
  @extend %align-center

.prices__title
  @extend %title

.prices__description
  @extend %description

.prices__currency
  margin: 0 $space-between 2rem
  
.currency
  align-self: flex-end
  display: flex

.currency__group
  display: inline-flex
  margin-left: .3rem  

.currency__inpt
  position: absolute
  visibility: hidden
  &:checked+.currency__lbl:before  
    border: 2px solid $color-light-blue
    background-color: $color-light-blue
  &:not(:checked)+.currency__lbl:before  
    border: 2px solid #5a5a5a     

 
.currency__lbl
  position: relative
  padding-left: 25px
  cursor: pointer
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    margin: 4px
    width: 16px
    height: 16px
    border-radius: 50%
    transition: .3s ease


.prices__containers
  display: flex
  width: 100%
  align-items: baseline

.prices__container
  width: 33.3333%

.container
  @extend %box-shadow
  margin: 0 $space-between
  padding: 4rem 0
  text-align: center
  &:hover
    .container__line
      background-color: $color-blue

.container--center
  @extend %box-shadow-large

.container__title
  font-size: 1.6rem
  text-transform: uppercase
  letter-spacing: 3px
  margin-bottom: 1rem

.container__line
  @extend %line
  margin-bottom: 1rem

.container__price
  font-size: 4rem
  font-weight: 200
  margin-bottom: 1rem

.container__services
  margin-bottom: 3rem

.container__service
  font-size: 1.1rem
  line-height: 2rem

.container__btn
  @extend %btn
  @extend %box-shadow
  @extend %box-shadow_hover

.container__btn--blue
  background-color: $color-light-blue





