.promo
  &:before
    content: ''
    display: block
    position: absolute
    height: $nav-height
    background: #fff
    width: 100%
    +mq($m)
      height: $nav-height_mobile

.promo__content
  position: absolute
  top: 0
  width: 100%
  height: 100%
  display: flex
  align-items: center

.promo__in
  @extend %in

.promo__title 
  font-size: 7rem
  line-height: 1em
  font-weight: 200
  color: #fff
  text-align: center
  +mq($l)
    font-size: 6rem
  +mq($m)
    font-size: 5rem
  +mq($s)
    font-size: 4rem  

.promo__btn
  @extend %round-btn
  bottom: 15px
  left: 50%
  margin-left: -27.5px 
  &:after
    +ico('\f103')
