.services
  @extend %section  
  @extend %section-underline

.services__in 
  @extend %in
  @extend %align-center

.services__title
  @extend %title

.services__description
  @extend %description

.services__items
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-bottom: 1rem

.services__item
  width: 25%
  padding: 0 1rem
  +mq($m)
    width: 50%
  +mq($s)
    width: 80%


.service
  text-align: center
  &:hover
    .service__line
      background-color: $color-blue


.service__line
  @extend %line
  margin-bottom: 1rem

.service__title
  font-size: 1.5rem
  font-weight: 400
  letter-spacing: 3px
  line-height: 1.2em
  text-align: center
  text-transform: uppercase
  margin-bottom: 0.75em

.service__description
  font-weight: 300
  font-size: 1rem
  color: rgba(0,0,0,.8)
  margin-bottom: 1rem

.service__btn
  @extend %btn
  @extend %box-shadow
  @extend %box-shadow_hover
  margin-bottom: 1rem

.service__ico
  color: $color-blue
  font-size: 6em
  

// icons
.service__ico--brash
  &:before
    +ico('\f1fc')
.service__ico--desctop
  &:before
    +ico('\f108')
.service__ico--cog
  &:before
    +ico('\f013')
.service__ico--code
  &:before
    +ico('\f121')
