.started
  @extend %section
  background-color: $color-grey

.started__in
  @extend %in
  @extend %align-center

.started__title
  @extend %title

.started__description
  @extend %description

.started__btn
  @extend %btn
  background-color: $color-light-blue
  color: $color-blue
  height: 56px
  &:before
    +ico('\f135')
    font-size: 1.6rem
    margin-right: 15px
  @extend %box-shadow
  @extend %box-shadow_hover