.subscribe
  @extend %section
  background-color: $color-grey

.subscribe__in
  @extend %in
  @extend %align-center

.subscribe__title
  @extend %title

.subscribe__description
  @extend %description

.subscribe__form
  @extend %form

.subscribe__group
  @extend %input-group

.subscribe__lbl
  @extend %input-lbl

.subscribe__input
  @extend %input  

.subscribe__btn
  @extend %btn
  background-color: $color-light-blue
  color: $color-blue
  height: 56px
  &:before
    +ico('\f135')
    font-size: 1.6rem
    margin-right: 15px
  @extend %box-shadow
  @extend %box-shadow_hover